# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_meta

# Data (CSV files terlalu besar untuk GitHub)
data/raw/*.csv

# Power BI temp
*.pbix.tmp
*.pbit

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
.DS_Store
desktop.ini

# Env
.env
*.env
